<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container colorful-bg">
        <h2>Check Application Status</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="Enter your Email" required>
            <button type="submit" class="btn colorful-btn">Check Status</button>
        </form>

        {% if status_message %}
            <p style="color:blue;">{{ status_message }}</p>
        {% endif %}

        <p><a href="{{ url_for('index') }}">Back to Home</a></p>
    </div>
</body>
</html>
